input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.FM_Input_1{
    position:absolute;
    top: 27.2vw;
    left: 6.8vw;
    height: 6.5vw;
    width: 7.4vw;
    border: 0px solid white;
    color:black; 
    font-size: 2.5vw;
    text-align: center;
    outline: none;
    background-color: transparent;
}

.FM_Input_2{
    position: absolute;
    top: 27.2vw;
    left: 15vw;
    height: 6.5vw;
    width: 7.4vw;
    border: 0px solid white;
    color:black; 
    font-size: 2.5vw;
    text-align: center;
    outline: none;
    background-color: transparent;
}

.FM_Input_3{
    position: absolute;
    top: 27.2vw;
    left: 23.6vw;
    height: 6.5vw;
    width: 7.4vw;
    border: 0px solid white;
    color:black; 
    font-size: 2.5vw;
    text-align: center;
    outline: none;
    background-color: transparent;
}

.FM_SumOfInputs{
    position: absolute;
    height: 4vw;
    width: 4vw;
    top: 28.5vw;
    left: 34vw;
    color:black; 
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.FM_WSHFRank{
    position: absolute;
    top: 32vw;
    left: 45vw;
    height: 4vw;
    width: 4.5vw;
    color:black; 
    background-color: white;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.FM_Card__Content{
    position: absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 25vw;
    height: 40vh;
    width: 50vw;
    color: black;
}
