* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: auto;
    width: auto;
    overflow: hidden;
    display: block;
    background-color: white;
    justify-content: center;
    object-position: center;
    box-sizing: content-box;
}

.FM_Header_external {
    width:100vw;
    padding: 0;
    margin: 0;
}

.FM_Header_internal {
    background-color: black;
    font-size: medium;
    color: whitesmoke;
    display: flex;
    padding: 1.7vh;
    width: 100%;
    margin: 0;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
}

.FM_Rules_Bottom{
    padding: 1.1vmin;
    background: black;
    border: 2px solid green;
    border-radius: 5px;
    color:aquamarine; 
    font-size: 1.5vmin;
}
.FM_Rules_Bottom:hover{
    padding: 1.1vmin;
    background: green;
    border: 2px solid green;
    border-radius: 5px;
    color:white; 
    font-size: 1.5vmin;
}

.FM_Home_Bottom{
    padding: 1.1vmin;
    background: black;
    border: 2px solid burlywood;
    border-radius: 5px;
    color:burlywood; 
    font-size: 1.4vmin;
}
.FM_Home_Bottom:hover{
    padding: 1.1vmin;
    background:peru;
    border: 2px solid peru;
    border-radius: 5px;
    color:black; 
    font-size: 1.4vmin;
}

.FM_Body_external{  
    align-items:center;
    height: 100%;
    width: 100%;
}

.FM_Body_internal{
    position:absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    width: 100%;
    color: black;
    columns: 2;
    justify-content:space-between;
    align-items: center;
}

.FM_ColumnLeft{
    position:absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vw;
    height: 43vw;
    width: 52vw;
    color: black;
}

.FM_ColumnRight{
    position:absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vw;
    margin-top: 2vw;
    height: 40vw;
    width: 42vw;
    color: black;
    margin-left: 50vw;
}

.FM_ButtonColumnLeft{
    position:absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vw;
    height: 5vw;
    width: 25%;
    color: black;
}

.FM_ButtonColumnRight{
    position:absolute;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vw;
    height: 5vw;
    width: 25%;
    color: black;
    margin-left: 25vw;
}

.FM_Card_Button{
    padding: 2vw;
    margin-top: 2vw;
    margin-left: 10vw;
    background:rgb(29, 223, 22);
    border: 2px solid rgb(29, 223, 22);
    border-radius: 10px;
    color:white; 
    font-size: 2.5vw;
}

.FM_Card_Button:hover{
    padding: 2vw;
    margin-top: 2vw;
    margin-left: 10vw;
    background: darkgreen;
    border: 2px solid darkgreen;
    border-radius: 10px;
    color:white; 
    font-size: 2.5vw;
}


.FM_Save_Button{
    position: relative;
    padding: 1vw;
    margin-top: 1vw;
    margin-left: 86vw;
    background:rgb(29, 223, 22);
    border: 2px solid rgb(29, 223, 22);
    border-radius: 10px;
    color:white; 
    font-size: 2vw;
}

.FM_Save_Button:hover{
    padding: 1vw;
    margin-top: 1vw;
    margin-left: 86vw;
    background: darkgreen;
    border: 2px solid darkgreen;
    border-radius: 10px;
    color:white; 
    font-size: 2vw;
}


.FM_Sort_Button{
    position: relative;
    padding: 0.5vw;
    margin-top: 31vw;
    margin-left: 86vw;
    background:rgb(22, 149, 223);
    border: 2px solid rgb(22, 149, 223);
    border-radius: 10px;
    color:white; 
    font-size: 1.5vw;
}

.FM_Sort_Button:hover{
    padding: 0.5vw;
    margin-top: 31vw;
    margin-left: 86vw;
    background: darkblue;
    border: 2px solid darkblue;
    border-radius: 10px;
    color:white; 
    font-size: 1.5vw;
}
