.Shell{
    position: relative;
    bottom: 38%;
    height: 6%;
    left: 0;
    width: 100%;
 }
 
 .Main{
     position: absolute;
     bottom: -5%;
     width: 8%;
     height: 150%;
     outline: none;
     border: white;
     font-size: 150%;
     text-align: center;
     border-radius: 20px 20px 20px 20px;
 }
 
 .Main.First{
     left: 16.1%;
 
 }
 
 .Main.Second{
     left: 32.1%;
 }
 
 .Main.Third{
     left: 48.5%;
 }
 
 .Sum{
     position: absolute;
     font-size: 150%;
     bottom: 10%;
     left: 65.6%;
     text-align: center;
     width: 7%;
 }
 
 .w{
     position: absolute;
     font-size: 160%;
     left: 86%;
     bottom: -170%;
     text-align: center;
     width: 10%;
 }
 
 