.homePriority{
    position: absolute;
    right: 11%;
    bottom: 30%;
}

.readModulePriority{
    position: absolute;
    bottom: 30%;
    right: 1%;
}

.buttonHomePriority{
    background-color: black;
    border-radius: 7px;
    height: 4vh;
    width: 5vw;
    color: orange;
    border: 1px solid orange;
    cursor: pointer;
    font-size: 0.9vw;
}

.buttonModulePriority{
    font-size: 0.9vw;
    background-color: black;
    color: green;
    border: 1px solid green;
    border-radius: 7px;
    height: 4vh;
    width: 9vw;
    cursor: pointer;
}

.buttonHomePriority:hover{
    background-color: orange;
    color: black;
}

.buttonModulePriority:hover{
    background-color: green;
    color:black
}

.title22{
    margin-left: 1%;
    margin-top: 1%;
}

.headerPriority{
    display: flex;
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.4vw;
    color: white;
}
