.RoadShell{
    width: 98vw;
    /*height: 100px;*/
}

.PI{
    margin-left: 1vw;
    margin-top: 2vh;
    margin-outside: 2px;
    display: flex;
    width: 97vw;
    justify-content: space-between;
}

.PI1{
    width: 30vw;
}

.sz{
    text-align: center;
    font-size: 25px;
}

.field{
    display: flex;
    align-content: flex-start;
    border: 3px solid blue;
    min-height: 100px;
    border-radius: 12px 12px 12px 12px;
    flex-wrap: wrap;
}

.cardField{
    margin-left: 1vw;
    margin-top: 12px;
    border: 3px solid green;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    flex-wrap: wrap;
    min-height: 180px;
}

.roadConfirm{
    margin-top: 2vh;
    position: relative;
    left: 45%;
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    height: 7vh;
    width: 12vw;
    color: white;
    cursor: pointer;
}

.roadConfirm:hover{
    background-color: darkgreen;
}

.feature{
    height: 16.9vh;
    margin-left: 1.7vw;
    margin-top: 1.1vh;
    cursor: grab;
    margin-bottom: 0.8vh;
}

::-webkit-scrollbar{
    width: 0;
}