.sprint {
  min-width: 16rem;
  min-height: 10rem;
  background: #e5e5e5;
}

.dragging {
  opacity: 30%;
}

.sprint-heading {
  background: whitesmoke;
  padding: 0.5rem 1rem;
  align-self: center;
  top: 0px;
  z-index: 1000;
  position: sticky;
  /* border-radius: 3rem; */
}

.card {
  width: 16rem;
  cursor: default;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.reserve-board {
  width: 100%;
  min-height: 100%;
}

.blue-epic {
  background: #0a82c3;
}
.orange-epic {
  background: #ee7213;
}
.green-epic {
  background: #085c26;
}
.purple-epic {
  background: #d73ecd;
}
.red-epic {
  background: #ee1919;
}
.brown-epic {
  background: #a3711a;
}
.light-blue-epic {
  background: #25c5e1;
}
.violet-epic {
  background: #7c1ad2;
}

.top-stuck,
.bottom-stuck {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
.bottom-stuck {
  height: 25%;
  bottom: 0px;
  background: #e0e0f0;
}
.top-stuck {
  height: 75%;
  top: 0px;
}
